{% extends "base.html.twig" %}
    {% block title %}{% trans %}Cart {% endtrans %} !{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('style/cart.css') }}" type="text/css"/>
    {% endblock %}

    {% block body %}
        <a class="ml-2 mt-2 col-1 btn btn-global float-left" href="{{ path('app_boutique') }}">{% trans %}Back{% endtrans %}</a>
        <div class="text-center">
            <h1 >{% trans %}Cart{% endtrans %}</h1>
            {% if items | length > 0 %}
                <table class=" mt-3 table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}Product{% endtrans %}</th>
                        <th>{% trans %}Price{% endtrans %}</th>
                        <th>{% trans %}Quantity{% endtrans %}</th>
                        <th>{% trans %}Total{% endtrans %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.product.ProductName }}</td>
                            <td>{{ item.product.Price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.product.Price * item.quantity }}</td>
                            <td>
                                <a href="{{ path('app_cart_remove',{'id' : item.product.Id}) }}"
                                   class="btn btn-danger btn-sm">
                                    {% trans %}remove{% endtrans %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    <tfoot>
                    <tr>
                        <td colspan="3" class="text-center">{% trans %}Total{% endtrans %}
                        </td>
                        <td>{{ total }}</td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
                {% if app.user %}
                    <div class="mt-3"><a href="{{ path("app_commander") }}">Commander</a></div>
                {% else %}
                    <div class="mt-3"><a href="{{ path("app_login") }}">Commander</a></div>
                {% endif %}
            {% else %}
                <p class="mt-4">{% trans %}Sorry but your Cart is empty {% endtrans %}...</p>
            {% endif %}
        </div>
    {% endblock %}