{% extends "base.html.twig" %}
{% block title %}{% trans %}Account informations{% endtrans %}{% endblock %}
{%  block stylesheets %}
<link rel="stylesheet" href="{{ asset('style/roleManagementDetail.css') }}" type="text/css"/> {% endblock %}
{% block body %}
    <div class=" mx-auto shadow-lg pt-5 pb-5 pl-5 pr-5">
        <h3 class="text-center mt-3">{% trans %}My account informations{% endtrans %}</h3>
        <div class="mx-auto mt-4 mb-3">
            <span class="account-details">{% trans %}Username{% endtrans %} : {{ user.username }}</span><br>
            <span class="account-details">{% trans %}Email{% endtrans %} : {{ user.email }}</span><br>
            <span class="account-details">{% trans %}Last name{% endtrans %} : {{ user.firstName }}</span><br>
            <span class="account-details">{% trans %}First name {% endtrans %}: {{ user.lastName }}</span><br>
            <span class="account-details">{% trans %}Account creation date{% endtrans %} : {{ user.createdAt |date("d/m/y") }}</span><br>
            <h4 class="mt-5 text-center"><a class="btn btn-global" href="{{ path('app_change_pass') }}">{% trans %}Change your password{% endtrans %}</a>
            </h4>
        </div>
    </div>
{% endblock %}