{% extends "base.html.twig" %}
{% block title %}{% trans %}Product informations{% endtrans %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/cart.css') }}" type="text/css"/>
{% endblock %}

    {% block body %}
        <a class="ml-2 mt-2 col-1 btn btn-global float-left"
           href="{{ path('app_boutique') }}">{% trans %}Back{% endtrans %}</a>
        <div class=" mx-auto shadow-lg mb-5 p-5 sticky">
            <h3 class="text-center mt-3">{% trans %}Product informations{% endtrans %}</h3>
            <div class="mx-auto mt-4 mb-3">
                <p class="mx-auto"> {{ product.productName }}</p>
                <p>{% trans %} Price {% endtrans %}: {{ product.price }}€</p>

                <p>{% trans %}Quantity Available {% endtrans %}: {{ product.productQtt }}</p>
                <p>{% trans %}Category {% endtrans %}:
                    {% if product.categoryId is same as(2) %}
                        {% trans %}Others{% endtrans %}
                    {% endif %}
                    {% if product.categoryId is same as(1) %}
                        {% trans %}Clothes{% endtrans %}
                    {% endif %}
                </p>
                <p> {{ product.productDesc }}</p>
            </div>
        </div>
    {% endblock %}