{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
    <div class="ml-5 mt-4 mb-3  col-5">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    {% trans %}You are logged in as{% endtrans%} {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal text-center">{% trans %}Sign in !{% endtrans %}</h1>
            <label for="inputUsername">{% trans %}Username{% endtrans %}</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   required
                   autofocus>
            <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password"
                   required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}

            <button class="btn btn-lg btn-primary mt-3 d-flex mx-auto" type="submit">
                {% trans %}Sign in{% endtrans %}
            </button>
        </form>
        <div class="mt-2 text-center">
            <span class="text-muted">{% trans %}Forgot password{% endtrans %} ? <a class="link-secondary"
                                                                                   href="{{ path('app_forgot_password_request') }}">{% trans %}Reset it{% endtrans %}</a></span><br>
            <span class="text-muted mt-3">{% trans %}Don't have an account yet{% endtrans %} ? <a class="link-secondary"
                                                                                                  href="{{ path('app_register') }}">{% trans %}Join us{% endtrans %}</a></span>
        </div>
    </div>
    </div>
{% endblock %}