{% extends "base.html.twig" %}
{% block title %}Role management{% endblock %}
{% block body %}
    {% if message is defined and message is not null %}
        <h2 class="ml-5">{{ message }}</h2>
    {% endif %}
    <table class="table table-bordered table-hover col-9 mx-auto text-center">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Roles</th>
            <th scope="col">Change or details</th>
        </tr>
        </thead>
        <tbody>
        {% if quantity>0 %}
            {% for i in 0..quantity %}
                <tr>
                    <th scope="row">{{ userList[i].username }}</th>
                    <td>{{ userList[i].first_name }}</td>
                    <td>{{ userList[i].last_name }}</td>
                    <td>{% for role in userList[i].roles %}
                            {{ role }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        <a class="btn btn-secondary text-white"
                           href="{{ path('app_roleDetails', {"id": userList[i].id}) }}">Details</a>
                        <a class="btn btn-secondary text-white"
                           href="{{ path('app_roleDelete', {"id": userList[i].id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}