{% extends 'base.html.twig' %}

{% block title %}SHOP !{% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('style/boutique.css') }}" type="text/css"/>
 {% endblock %}
{% block body %}

    <div>
        <a href="{{ path('app_cart',) }}" class="btn btn-secondary float-right mr-5" role="button">Cart</a>
    </div>



    <div class="container  mt-5">
        {% for product in ProductAll %}

            <div class=" ml-5 mb-5 pb-5 col-3 card d-flex d-inline-block justify-content-center">

                <h3 class="card-title pt-3 text-center">{{ product.productName }}</h3>
                <img class="card-img-pt-1" alt="Card image cap" src="{{ asset('media/'~product.Image) }}">
                <div class="card-body">
                    <p class="card-text mt-2 text-center">{{ product.price }}€ <br>
                        <a href="{{ path('app_add',{'id':product.Id}) }}" class="btn btn-secondary mt-2  "
                           role="button">Add to Cart</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_prodDel', {'id': product.Id}) }}" class="btn btn-secondary mt-2 ml-3 "
                               role="button"> Delete Product</a>
                        {% endif %}
                    </p>
                </div>
            </div>

        {% endfor %}

    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="mx-auto mb-5 mt-5">
            <button class="btn btn-primary">
                <a href="{{ path('app_addProd') }}" class="text-white">Add Product</a>
            </button>

        </div>
    {% endif %}


{% endblock %}