<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Welcome to Kameto !{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('style/global.css') }}" type="text/css"/>

    {% block stylesheets %}
        {#  { encore_entry_link_tags('app') } #}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <script src="{{ asset('main.js') }}"></script>
    {% block javascripts %}
        {#  { encore_entry_script_tags('app2') } #}
    {% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-fixed-top navbar-expand-md navbar-dark bg-dark text-white mb-4 pt-0 pb-0 sticky-top shadow-lg">
    <div class="navbar-collapse d-flex">
        <ul class="navbar-nav mx-auto justify-content-center">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/stream">STREAM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/videos">VIDEOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="https://kgames.fr/" target="_blank">KGAMES</a>
            </li>
            <li class="nav-item ml-5 mr-5">
                <a class="navbar-brand mr-0" href="{{ path('app_base_home') }}">KametoTV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('app_boutique') }}">BOUTIQUE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('app_faq') }}">FAQ</a>
            </li>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </button>
                        <ul class="dropdown-menu pt-0 pb-0" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" aria-current="page"
                                   href="{{ path('app_roleManagement', {'page':'1'}) }}">Manage roles</a></li>
                        </ul>

                    </div>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">LOGOUT</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">LOGIN</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_register') }}">REGISTER</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block body %}
{% endblock %}

<footer class="bg-dark text-white mt-auto">
    <div class="text-center p-3">
        © 2021 Copyright KametoTV
    </div>
    <div>
        <a class="link_footer" target="_blank" href="https://www.instagram.com/kametolol/"><img style="width: 30px" src ="http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png"></a>
        <a class="link_footer" target="_blank" href="https://twitter.com/Kammeto"><img style="width: 30px" src ="http://assets.stickpng.com/images/580b57fcd9996e24bc43c53e.png"></a>
        <a class="link_footer" target="_blank" href="https://www.youtube.com/c/KoteiKameto"><img style="width:30px" src="https://www.pngplay.com/wp-content/uploads/9/Youtube-Logo-Transparent-Background.png"></a>
        <a class="link_footer" target="_blank" href="https://www.tiktok.com/@kametotv"><img style="width:30px" src="http://assets.stickpng.com/images/5cb78671a7c7755bf004c14b.png"></a>
    </div>
</footer>
</body>
</html>
